form {
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding: 2.2rem;

    label {
        font-weight: 500;
    }

    input {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.8);
    }

    input::placeholder {
        font-size: 13px;
    }
}

#ipg-form-submit {
    height: 3rem;
    font-weight: 500;
    padding: 0.52rem 3.5rem;
    margin-left: auto !important;
    font-size: 15px;
}

