<div class="inner-component-wrapper mb-4">
    <p class="mb-4">IPG / <span [ngStyle]="{ 'color': '#2260ff' }">Apps</span></p>

    <form class="p-4" (ngSubmit)="onUpdate()">
        <div class="row g-5 mb-4">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-4">
                        <label for="ipg-form-name" class="col-form-label fs-6">Developer Name</label>
                    </div>
                    <div class="col">
                        <input type="text" id="ipg-form-name" class="form-control" aria-describedby="ipg-form-name" name="name" [(ngModel)]="name" placeholder="Name" />
                    </div>
                </div>

            </div>
            
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-4">
                        <label for="ipg-form-phone" class="col-form-label fs-6">Developer Phone</label>
                    </div>
                    <div class="col">
                        <input type="text" id="ipg-form-phone" class="form-control" aria-describedby="ipg-form-phone" name="phone" [(ngModel)]="phone" placeholder="Phone" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-4">
                        <label for="ipg-form-email" class="col-form-label fs-6">Developer Email</label>
                    </div>
                    <div class="col">
                        <input type="email" id="ipg-form-email" class="form-control" aria-describedby="ipg-form-email" name="email" [(ngModel)]="email" placeholder="Email Address" />
                    </div>
                </div>

            </div>
            
            <div class="col-lg-6">
                <button id="ipg-form-submit" type="submit" class="btn btn-primary float-end">Update</button>
            </div>
        </div>
    </form>
</div>
