form {
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 5px;

    label {
        font-weight: 500;
    }

    input::placeholder {
        font-size: 13px;
    }
}

#ipg-form-submit {
    font-weight: 500;
    padding: 0.45rem 3rem;
    margin-left: auto !important;
    font-size: 15px;
}

